<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="{% static 'imgs/favicon.png' %}" rel="shortcut icon">
     <!-- Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src='{% static "src/actions.js" %}' ></script>
        <link rel="stylesheet" href="{% static 'css/override.css' %}" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">
        {% block style %}
        {% endblock style %}


<title>Dispatcher Manager</title>
</head>



<body>
<nav class="navbar navbar-dark blue-background navbar-expand-md navigation-clean-search">
  <div class="container">
    <a id="home-button" class="refresh-link confirm-delete button btn-small yellow popup-map"
        href="#')"> HOME</a>
      <a class="button btn-small yellow popup-map" href="javascript:" 
        onclick="detailsForPerson({{Person.person_id }},'requester');">Edit Profile: {{ user.get_username }}</a>
    
        <a class="button btn-small yellow popup-map" href="{% url 'password_change' %}">Change Password </a>
     
     <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}


                {% if user.is_staff %}


                {% endif  %}
              </li> 
              <a class="button btn-small yellow" href="{% url 'logout' %}"> Log Out</a>
              {% else %}
              <a class="button btn-small yellow" href="{% url 'login' %}">Log In</a> 
              : 
              <!-- <a href="{% url 'signup' %}">Sign up </a>- OR -  -->
              <a class="button btn-small yellow" href="{% url 'signmeup' %}">Sign Up</a>
              
              {% endif %}

                <!-- <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("REQUESTER")'>JS-Requesters</a</li>
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("PRODUCER")'>Volunteers></a></li>
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("DONOR")'>JS-DONOR</a></li>
                  </ul>
                </div> -->
            </ul>
        </div>
  </div>
</nav>



    <div class="container-fluid">
      <div class="row  justify-content-center">
        <div class="row md-8">
          <div class="col-1">
          </div>
          <div class="col-8">
            <h1 id="pageHeader" class="mt-2 text-center">{{ PageHeader }}</h1>
            {% if user.is_staff %}
              <a class="button btn-small yellow popup-map" href='javascript:getAllItems("REQUESTER")'>All Requests</a>
              <a class="button btn-small yellow popup-map" href='javascript:getAllPeople("REQUESTER")'>Requesters</a>
              <!-- <a class="button btn-small yellow popup-map" href="javascript:" onclick='getAllPeople("DONOR")'>Donors</a> -->
              <a class="button btn-small yellow popup-map" href='javascript:getAllPeople("PRODUCER")'>Volunteers</a>
              <a class="button btn-small yellow popup-map" href='javascript:showMyAssignments()'>My Assignments</a>
              <a class="button btn-small yellow popup-map" href="javascript:editItemForRefugee('{{ Person.person_id }} ',-1)">ADD NEW REQUEST</a>

                  <a class="button btn-small yellow dropdown dropdown-toggle nav-link" aria-expanded="false" 
                    data-bs-target="navbar1" 
                    data-bs-toggle="dropdown">REPORTS</a>
                  <ul class="dropdown-menu" id="navbar1">
                    <li><a class="dropdown-item" href="javascript:" onclick='getAllItems("REQUESTER")'>All Requests</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='reportPersons("REQUESTER")'>Report Requesters</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='reportPersons("PRODUCER")'>Report Volunteers</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='showModalPerson("REQUESTER")'>Add REQUESTER</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='showModalPerson("PRODUCER")'>Add VOLUNTEER</a></li>
                  </ul>
                </a>  

            {% endif  %}
            <div id="requester-content-only">
              {% block requester_content %}

              {% endblock requester_content %}
            </div>
            <div id="provider-content-only">
              {% block provider_content %}

              {% endblock provider_content %}
            </div>

            <div id="query-results">
              {% block content %}

              {% endblock content %}
            </div>


          <div class="col-3">
            <div style="{background: #ff0000;}" id="details-title"> </div> 
            <hr>
            <div id="details"> </div> 
          </div>
        </div>
        </div>
      </div>
    </div>
	


  <div class="container">
    <div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="personModalLabel">Profile Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="nobullets"> 
              <li><label  class="right-aligned-label" for="modalPerson_person_id">ID </label><input id="modalPerson_person_id" readonly type="text"  name="modalPerson_person_id"></li>
              <li><label  class="right-aligned-label" for="modalPerson_firstname">First </label><input id="modalPerson_firstname"  type="text"  name="modalPerson_firstname"></li>
              <li><label  class="right-aligned-label" for="modalPerson_middlename">Middle </label><input id="modalPerson_middlename" type="text"  name="modalPerson_middlename"></li>
              <li><label  class="right-aligned-label" for="modalPerson_lastname">Last </label><input id="modalPerson_lastname"   type="text"  name="modalPerson_lastname"></li>
              <li><label  class="right-aligned-label" for="modalPerson_address1">Address </label><input id="modalPerson_address1"   type="text"  name="modalPerson_address1"></li>
              <li><label  class="right-aligned-label" for="modalPerson_city">City </label><input id="modalPerson_city"  type="text"  name="modalPerson_city"></li>
              <li><label  class="right-aligned-label" for="modalPerson_state">State </label><input id="modalPerson_state"  type="text"  name="modalPerson_state"></li>
              <li><label  class="right-aligned-label" for="modalPerson_zip">Zip </label><input id="modalPerson_zip"  type="text"  name="modalPerson_zip"></li>
              <li><label  class="right-aligned-label" for="modalPerson_homephone">Home Phone </label><input id="modalPerson_homephone"  type="text"  name="modalPerson_homephone"></li>
              <li><label  class="right-aligned-label" for="modalPerson_cellphone">Cell Phone </label><input id="modalPerson_cellphone"  type="text"  name="modalPerson_cellphone"></li>
              <li><label  class="right-aligned-label" for="modalPerson_email">Email </label><input id="modalPerson_email"  type="text"  name="modalPerson_email"></li>
            </ul>

          </div>
          <div class="modal-footer">
           
            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveModalPerson(refreshPersonCallback)"> Save changes </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestModalLabel">Request Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <ul class="nobullets"> 
              <li><label  class="right-aligned-label modal-admin-only" for="modalReq_req_id">ID </label>
                <input class="modal-admin-only" id="modalReq_req_id" readonly type="number"  name="modalReq_req_id"></li>
              <li><label  class="right-aligned-label modal-admin-only" for="modalReq_requester">Requester ID</label>
                <input class="modal-admin-only" id="modalReq_requester" type="text"  name="modalReq_requester"></li>
              <li><label  class="right-aligned-label" for="modalReq_item_type">Type </label>
                <select id="modalReq_item_type" type="number"  name="modalReq_item_type">
                </select>

                </li>
              <li><label  class="right-aligned-label" for="modalReq_status">Status </label>
                <select id="modalReq_status"   type="number"  name="modalReq_status">
                     <option value="0">Open </option>
                     <option value="1">Initiated </option>
                     <option value="2">Approved </option>
                     <option value="3">Rejected </option>
                     <option value="4">Cancelled </option>
                     <option value="5">Assigned </option>
                     <option value="6">Progressing </option>
                     <option value="7">Completed </option>
                     <option value="8">Closed </option>

                  </select>
                </li>
              <li><label  class="right-aligned-label modal-admin-only" for="modalReq_assigned_to">Assigned ID </label>
                 
                  <select  class="modal-admin-only" id="modalReq_assigned_to"  aria-label="Default select example"  name="modalReq_assigned_to" aria-hidden="true"> 
                  </select>
                        
              </li>
              <li><label  class="right-aligned-label" for="modalReq_quantity">Quantity </label><input id="modalReq_quantity"  type="number"  name="modalReq_quantity"></li>
              <li><label  class="right-aligned-label" for="modalReq_title">Title </label><input id="modalReq_title"  type="text"  name="modalReq_title"></li>
              <li><label  class="right-aligned-label" for="modalReq_description">Description </label>
                <input id="modalReq_description"  type="text"  name="modalReq_description"></li>
              <li><label  class="right-aligned-label" for="modalReq_notes">Notes </label>
                  <textarea rows="4" cols="25" id="modalReq_notes"   name="modalReq_notes"> </textarea></li>
  


              <li><label  class="right-aligned-label" for="modalReq_time_taken">Time (Hrs)</label>
                
                
                <input id="modalReq_time_taken"  type="number" min="0" onkeyup="numOnly(this)" onblur="numOnly(this)" name="modalReq_time_taken"></li>
              <li><label  class="right-aligned-label" for="modalReq_neededbydate">Needed By Date</label><input id="modalReq_neededbydate"  type="text"  name="modalReq_neededbydate"></li>
              <li><label  class="right-aligned-label" for="modalReq_filledbydate">Filled By Date </label><input id="modalReq_filledbydate"  type="text"  name="modalReq_filledbydate"></li>
            </ul>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveModalRequest(refreshRequestModal)"> Save changes </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>


<div class="container">
    <div class="intro">
        <hr> 
       
    </div>
    <div class="row articles">
        <div class="col-sm-6 col-md-4 item" id="">
        </div>
        
        {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}">Change Password </a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% endif %}
        <!-- <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static 'imgs/delivery.png' %}"  /></a>
            <h3 class="name">Track completions</h3>
            <p class="description">Monitor the status of each task as it progresses to completion. </p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static 'imgs/tracking.png' %}"  /></a>
            <h3 class="name">Report donations</h3>
            <p class="description">Record which refugee got how many donations.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
        </div> -->
    </div>
</div>


  
	  {% block myscript %}
    {% endblock myscript %}
    {% csrf_token %}

 
    
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script> 




<script>


function numOnly(selector){
  selector.value = selector.value.replace(/[^0-9]/g,'');
}


function refreshPersonCallback() {
  whatToDo = document.getElementById('query-results').getAttribute('refreshItems');
  console.log("Got reply back..,.", whatToDo);
  if (document.getElementById('query-results').getAttribute('refreshItems')==="true") {

      var sparms = document.getElementById('query-results').getAttribute('refreshItemsParms');
      var parms = sparms.split(",")
      var pid = parms[0]; 
      var url =  parms[1]; 
      var divname =  parms[2]; 
      console.log("Take Actions here..... [ fn, parms ] ", pid, url, divname)
      showRequestdetailsForPerson(pid,url,divname); // This is in actions.js file. 
  }

}


function refreshRequestModal() { 
  console.log("Refreshing page in refreshRequestModal...")
  var rid = document.getElementById('query-results').getAttribute('refresh_rid_after_edit');  // request id 
  var requester_id = document.getElementById('query-results').getAttribute('refresh_requester_id_after_edit');  // person (requestor or )
  var producer_id  = document.getElementById('query-results').getAttribute('refresh_producer_id_after_edit');  // person (requestor or )
 
  var fn  = document.getElementById('query-results').getAttribute('refresh-after-modal-edit');
  document.getElementById('query-results').setAttribute('refresh-after-modal-edit','');
  if (fn == 'refreshThisPage') {
    refreshThisPage(requester_id);
  }
  
  if (fn == 'refreshThisAssignmentPage') {
    refreshThisAssignmentPage(producer_id)
  }
  $('#requestModal').modal('hide');

}

/* 
Inputs: 
          Person ID --- for the person_id field in onePerson
*/

function detailsForPerson(pid) {
  xstr = "<p> ... Details about " + pid + " ... </p> "
  console.log(xstr)

  var url = "{% url 'r2p:personsDetail' pk=22 %}".replace('22',pid); 
  console.log(url) ;
  readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          showModalPerson('',data) ;
        }
      })
  }


  ///
function showMyAssignments(){ 
    var pid = '{{ Person.person_id }}'; 
    var url = "{% url 'apis:getAllRequestsByAssignee' r_id=22 avail=1 %}".replace('22',pid); 
    console.log(url) ;
    readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          createItemCards(pid,"query-results",data['data'], {'showUnassign': true, 'showAssign':false});
          createItemCards(pid,'details',data['available'],  {'showUnassign': true, 'showAssign':true}) ;
          document.getElementById('details-title').innerHTML = '<h4 class="header-title">Available Tasks</h4'
        }
      })
    }


function getPersonDetailForEdits(ppid) { 
  var url = "{% url 'r2p:personsDetail' pk=22 %}".replace('22',ppid); 
  console.log(url) ;
  readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          showModalPerson('',data) ;
        }
      })

}


// /*

 
// /*
// Inputs: 
//     Person ID --- for the person_id field in onePerson
//     rtype  --- for REQUESTER, DONOR or PRODUCER
//     divname --- the div tag where the HTML output will go. 

//     Returns 
// */
function makeSelectOptions(ptype,input_id) {
  var url = '{% url "apis:allPeopleByType" ptype="REQUESTER" %}'.replace('REQUESTER', ptype);
      console.log(url);
      readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
            var hstr = ""; 
            var requestObject = document.getElementById('requestModal')
            selectItem  = requestObject.querySelector('#modalReq_assigned_to')
            //selectItem = $(input_id)
            for (var x=0;x<data.data.length; x++ ) {
              item = data.data[x]
              // option = document.createElement("option")
              // optionText = document.createTextNode(`${item.person_firstname} ${item.person_lastname}`);
              // option.appendChild(optionText) 
              // option.setAttribute("value",item.person_id);
              var xstr = `${item.person_firstname} ${item.person_lastname}`
              var vstr = `${item.person_id}`
              option = new Option(xstr,vstr);
              //option = `<option value="${item.person_id}">${item.person_firstname} ${item.person_lastname}</option>`
              selectItem.append(option);
            } 
            
        }
      })

}



function reportPersons(pType) {
  var url = '{% url "r2p:personsList"  %}';
  var pid = '{{ Person.person_id }}'; 
      readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          // createItemCards(pid, 'query-results',data['data'],
          //    {'showUnassign': true, 'showAssign':false}) ;
          // document.getElementById('details').innerHTML = ''
          xstr = createPersonReport(pType, data)
          document.getElementById('query-results').innerHTML = xstr
        }
      })

}

//-----------------------------------------------------------------------------------
// Returns all people of a particular type. 
//-----------------------------------------------------------------------------------
function getAllItems(iType) {
  console.log(iType);
  var url = '{% url "apis:allItems"  %}';
  var pid = '{{ Person.person_id }}'; 
      readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          createItemCards(pid, 'query-results',data['data'],
             {'showUnassign': true, 'showAssign':false}) ;
          document.getElementById('details').innerHTML = ''
          document.getElementById('details-title').innerHTML = ''
        }
      })
}

function deleteThisRequest(r_id ) { 

  var result = confirm("Are you sure?");

  console.log("RESULT-", result)

  if (result === true ) {

        var pid = '{{ Person.person_id }}';
        var url1 = "{% url 'r2p:requiredItemDetail' pk=22  %}".replace('22',r_id);
        console.log(url1) ;
        $.ajax({
            url: url1,
            type: "DELETE",
            headers: { 'X-CSRFToken':  csrftoken },  
            contentType : 'application/json',
            success: function(data) { 
                var pid = '{{ Person.person_id }}';
                refreshThisPage(pid);
            }
        })
   }
}


function cancelThisRequest(r_id ) { 
    
    var pid = '{{ Person.person_id }}';
    var url1 = "{% url 'r2p:cancelRequest' r_id=22  %}".replace('22',r_id);

    console.log(url1) ;
    $.ajax({
        url: url1,
        type: "POST",
        headers: { 'X-CSRFToken':  csrftoken },  
        contentType : 'application/json',
        success: function(data) { 
            var pid = '{{ Person.person_id }}';
            refreshThisPage(pid);
        }
    })
 }


function createSingleItemCard(item, extras)  
{
  
  var pid = '{{ Person.person_id }}'; 
  var btn_assign = '';
  var assigntome = extras['showAssign']; 
  var unassign   = extras['showUnassign']
  var deletethis = false;
  var cancelthis = false; 

  if ("showCancel" in extras) {
    deletethis = extras['showCancel']
  }
  btn_delete=''
  if (deletethis == true){
    btn_delete = `<a href="javascript:deleteThisRequest(${item.req_id})" >Delete</a>`;
  }

  if ("showCancel" in extras) {
    cancelthis = extras['showCancel']
  }
  btn_cancel = ''
  if (cancelthis == true){
    btn_cancel = `<a href="javascript:cancelThisRequest(${item.req_id})" >Cancel</a>`;
  }



  
  if (assigntome === true ){
    btn_assign = `<a href="javascript:assignItemToPID(${item.req_id},${pid})" > ASSIGN TO ME</a>`;
  }
  if (unassign === false ){ 
    btn_unassign = '';
  } else { 
    console.log('... NOT NULL .....')
    btn_unassign = `<a href="javascript:unassignRequestForRID(${item.req_id})" >Unassign </a>          `
  }

  if  (item.req_assigned_to === null)  {
    btn_unassign = '';
  }

  var notes = item.req_notes; 
  if (notes != null ) {
      if (notes.length > 12) {
        notes = notes.substring(0,12) + "..."
      }
    }

  var xstr = `<div class="rcorners1 box"> 
              <ul class="nobullets">
              <h4 class="singleline">ID: 
                <a class="price" href="javascript:editItemDetails('${item.req_requester_id}','${item.req_id}', 'admin', true)"> ${item.req_id}  </a>
                </h4>
                <li>
                <a href="javascript:" onclick='detailsForPerson(${item.req_assigned_to}, "producer");'>
                <img src="{% static './icons/person-check.svg' %}" title="Assignee">Assignee: ${item.req_provider_name}
                </li>
              </a>
              <li>
              <a href="javascript:" onclick='detailsForPerson(${item.req_requester_id}, "requester");'>
                <img src="{% static './icons/person-check.svg' %}" title="Requester">Requester: ${item.req_requester_name}
              </a>
              </li>

              <li class="personinfo">Type: ${item.req_typeStr}</li>
              <li class="personinfo">What: ${item.req_title}</li>
              <li class="personinfo">Status: ${item.req_statusStr}</li>
              <li class="personinfo">Desc: ${item.req_description}</li>
              <li class="personinfo">Notes: ${notes}</li>
              <li>
              ${btn_unassign}  ${btn_assign} ${btn_cancel} ${btn_delete}
              </li>
              </ul>
            </div>
    `
    
  return xstr; 

}

//-----------------------------------------------------------------------------------
// Shows boxes of information in div named by html_id given the data; 
//-----------------------------------------------------------------------------------
function createItemCards(pid, html_id,data,extras) {
  var hstr = "";  
  document.getElementById('pageHeader').innerHTML = '';

  for (var x=0;x<data.length; x++ ) {
      item = data[x]
      // url1 = '{% url "apis:getAllRequestsByRequester" r_id=61 %}'.replace('61',item.person_id);
      // url2 = '{% url "apis:getAllRequestsByAssignee" r_id=61 avail=0 %}'.replace('61',item.person_id);
      name = item.req_title; 
      console.log(extras)
      xstr = createSingleItemCard(item,extras);    
      hstr += xstr; 
    }
    document.getElementById(html_id).innerHTML = hstr;
    //var attributeString = encodeURI(JSON.stringify(data));
    //document.getElementById(html_id).setAttribute('json_people_data',attributeString)

}


//-----------------------------------------------------------------------------------
// Returns all people of a particular type. 
//-----------------------------------------------------------------------------------
function getAllPeople(ptype) { 
      var url = '{% url "apis:allPeopleByType" ptype="REQUESTER" %}'.replace('REQUESTER', ptype);
      console.log(url);
      readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          createPersonCards('query-results',data) ;
          document.getElementById('details').innerHTML = ''
          document.getElementById('details-title').innerHTML = ''
        }
      });
}


function assignItemToPID(req_id,pid) { 
    var url1 = "{% url 'apis:assignRequest' r_id=0 p_id=1 %}".replace('1',pid).replace('0',req_id);
    console.log(url1) ;
    $.ajax({
        url: url1,
        type: "POST",
        headers: { 'X-CSRFToken':  csrftoken },  
        contentType : 'application/json',
        success: function(data) { 
            var pid = '{{ Person.person_id }}';
            refreshThisAssignmentPage(pid);
        }
    })
}

function unassignRequestForRID(req_id,pid) { 
    var url1 = "{% url 'apis:unassignRequest' r_id=0 %}".replace('0',req_id);
    console.log(url1) ;
    $.ajax({
        url: url1,
        type: "POST",
        headers: { 'X-CSRFToken':  csrftoken },  
        contentType : 'application/json',
        success: function(data) { 
            var pid = '{{ Person.person_id }}';
            refreshThisAssignmentPage(pid);
        }
    })
}

//-----------------------------------------------------------------------------------
// Shows boxes of information in div named by html_id given the data; 
//-----------------------------------------------------------------------------------
function createPersonCards(html_id,data) {
  var hstr = "";  
  document.getElementById('pageHeader').innerHTML = '';
  for (var x=0;x<data.data.length; x++ ) {
    item = data.data[x]
    url1 = '{% url "apis:getAllRequestsByRequester" r_id=61 %}'.replace('61',item.person_id);
    url2 = '{% url "apis:getAllRequestsByAssignee" r_id=61 avail=0  %}'.replace('61',item.person_id);
    name = item.person_firstname + " " + item.person_lastname;
    console.log("Item ... " + name )


    var addRequestStr = '';
    if (item.person_type == 'REQUESTER') {
      addRequestStr = `<a class="btn-small" href="javascript:editItemForRefugee('${item.person_id}',-1)">One Request</a>
      <a class="btn-small" href="javascript:createOnboardRequests('${item.person_id}',-1)">On Board</a>
    `;
    }
    var xstr = `<div class="rcorners1"> 
                <p class="singleline">ID: ${item.person_id}              


                <a class="personinfo" href="javascript:" 
                onclick='showRequestdetailsForPerson(${item.person_id}, "${url1}", "details", "${name}");'>
                  Requests
                </a>
                <a href="javascript:" onclick='detailsForPerson(${item.person_id}, "producer");'>
                  <img src="{% static './icons/person-check.svg' %}" title="Person">
                </a>
                <a class="personinfo" href='javascript:showRequestdetailsForPerson(${item.person_id}, "${url2}", "details", "${name}");'>
                  Assignments
                </a>
               
                
                </p>
                <ul class="nobullets">
                <li class="personinfo">${item.person_firstname} ${item.person_lastname}</li>
                <li class="personinfo">${item.person_address1}, ${item.person_city} ${item.person_zip}</li>
                <li class="personinfo">${item.person_cellphone}</li>
                <li class="personinfo">${item.person_email}</li>
                ${addRequestStr}
                </ul>
              </div>
      `
      hstr += xstr; 
    }
    document.getElementById(html_id).innerHTML = hstr;
    var attributeString = encodeURI(JSON.stringify(data));
    document.getElementById(html_id).setAttribute('json_people_data',attributeString)

}


function createPersonReport(pType,data){
  var hstr = "";  
  document.getElementById('pageHeader').innerHTML = 'Report on ' + pType;
  for (var x=0;x<data.length; x++ ) {
    item = data[x]
    url1 = '{% url "apis:getAllRequestsByRequester" r_id=61 %}'.replace('61',item.person_id);
    url2 = '{% url "apis:getAllRequestsByAssignee" r_id=61 avail=0  %}'.replace('61',item.person_id);
    name = item.person_firstname + " " + item.person_lastname;
    console.log("Item ... " + name )
    if (item.person_type == pType) {

    var xstr = `<div class="rcorners1"> 
                <p class="singleline">ID: ${item.person_id}             
                </p>
                <ul class="nobullets">
                <li class="personinfo">${item.person_firstname} ${item.person_lastname}</li>
                <li class="personinfo">${item.person_address1}, ${item.person_city} ${item.person_zip}</li>
                <li class="personinfo">${item.person_cellphone}</li>
                <li class="personinfo">${item.person_email}</li>
                </ul>
              </div>
      `
      hstr += xstr; 
    }
  }
  return hstr;
}



function editItemForRefugee(requester_id,r_id){
     // The callback function will need the following information : 
    document.getElementById('query-results').setAttribute('refresh_rid_after_edit', r_id); // request. 
    document.getElementById('query-results').setAttribute('refresh_requester_id_after_edit', requester_id); // 
    document.getElementById('query-results').setAttribute('refresh_producer_id_after_edit', ''); // 
    document.getElementById('query-results').setAttribute('refresh-after-modal-edit', 'refreshThisPage');
    editItemDetails(requester_id,r_id,'','refreshThisPage')
 }


//
// Inputs: None. 
// Attributes:   urlToUse is set to the URL to send the collected data to. 
//
function saveModalPerson(rcallback) { 
    // Collect names for the modal person...
  var personModal = document.getElementById('personModal')

  person_id = personModal.querySelector('#modalPerson_person_id').value;

  pdata= {
      "person_id": personModal.querySelector('#modalPerson_person_id').value ,
      "person_title": null,
      "person_type": personModal.getAttribute('typeOfPerson'),
      "person_djangoid": null,
      "person_firstname": personModal.querySelector('#modalPerson_firstname').value, 
      "person_middlename": null,
      "person_lastname": personModal.querySelector('#modalPerson_lastname').value,
      "person_suffix": null,
      "person_address1": personModal.querySelector('#modalPerson_address1').value,
      "person_address2": null,
      "person_city": personModal.querySelector('#modalPerson_city').value,
      "person_state":personModal.querySelector('#modalPerson_state').value ,
      "person_zip": personModal.querySelector('#modalPerson_zip').value ,
      "person_origincountry": null,
      "person_homephone": personModal.querySelector('#modalPerson_homephone').value,
      "person_workphone": null,
      "person_cellphone": personModal.querySelector('#modalPerson_cellphone').value,
      "person_email": personModal.querySelector('#modalPerson_email').value,
      "person_workemail": null,
      "person_gender": "1",
      "person_dob": null,
  }

  url = personModal.getAttribute('urlToUse')
  console.log("I will save to " + url + " this data " + JSON.stringify(pdata))
  how = "PUT"
  if (person_id == '') { 
    how = "POST"
    }
  sendJSON(url,pdata,how,rcallback);
}

function createOnboardRequests(requester_id) {


  
  var result = confirm("Are you sure you want to create these requests for this user?");

  console.log("RESULT-", result)

      if (result === true ) {
      var url = '{% url "apis:createOnboardRequests" r_id=61 %}'.replace('61',requester_id);

      console.log(url) ;
      readJSON(url,function(err, data) {
          if (err != null) {
            console.error(err);
          } else { 
            console.log(data);
            getAllPeople('REQUESTER')
            // createItemCards(pid,"query-results",data['data'], 
            //       {'showUnassign': false, 'showAssign':false, 'showCancel': true, 'showDelete':true});
            //document.getElementById('details-title').innerHTML = '<h4 class="header-title">Available Tasks</h4>'
          }
      })
  }
  
}
//
// Collect names for the modal person...
//
function saveModalRequest(rcallback) { 
        var requestObject = document.getElementById('requestModal')

        req_id = requestObject.querySelector('#modalReq_req_id').value;

        pdata= {
            "req_id": requestObject.querySelector('#modalReq_req_id').value ,
            "req_requester": requestObject.querySelector('#modalReq_requester').value ,
            "req_item_type": requestObject.querySelector('#modalReq_item_type').value ,
            "req_status": requestObject.querySelector('#modalReq_status').value ,
            "req_assigned_to": parseInt( requestObject.querySelector('#modalReq_assigned_to').value ),
            "req_quantity": requestObject.querySelector('#modalReq_quantity').value ,
            "req_title": requestObject.querySelector('#modalReq_title').value ,
            "req_description": requestObject.querySelector('#modalReq_description').value ,
            "req_notes": requestObject.querySelector('#modalReq_notes').value ,
            "req_time_taken": requestObject.querySelector('#modalReq_time_taken').value ,
            "req_neededbydate": requestObject.querySelector('#modalReq_neededbydate').value ,
            "req_filledbydate": requestObject.querySelector('#modalReq_filledbydate').value ,

        }
        // -----------------------------------------------------------------------------------------------------------------------
        // Important for preserving integrity of JSON API request packet. 
        // TODO -- set value of "" to null in json object for all FIELDS
        var fields = ['req_quantity', "req_item_type",  "req_status",  "req_neededbydate",  "req_filledbydate","req_time_taken" ]
        for ( var fi in fields ) {
          f = fields[fi]
          console.log(pdata[f], f)
          if (pdata[f] == "") {
            pdata[f] = null; 
            }
        }
  
  console.log("I will save first name here. for " + JSON.stringify(pdata))
  var url = "{% url 'r2p:requiredItemDetail' pk=22 %}".replace('22',req_id);
  var url1 = '{% url "apis:getAllRequestsByRequester" r_id=61 %}'.replace('61',p_id);
  how = "PUT"

  // -------------------- if this is a new request ----------------------------
  if (req_id == '') { 
    url = "{% url 'r2p:requiredItemList' %}" 
    how = "POST"
    // url1 = "{% url 'r2p:itemsByRequester' p_id=22  %}".replace('22',p_id);
    // document.getElementById('query-results').setAttribute('goToAfterSend', url1);
    }
  console.log("Send to .." + document.getElementById('query-results').getAttribute('refreshItems') )


  var p_id = pdata['req_requester']; 
  var divname = '#details'
  //document.getElementById('query-results').setAttribute('refreshItems', true)

  document.getElementById('query-results').setAttribute('refreshItemsParms',  [p_id, url1, '#details' ]) 
  sendJSON(url,pdata,how,rcallback);
}

function removeOptions(selectElement) {
   if (selectElement == null) {
     return;
   }
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}




// -------------------------------------------------------------------------------------------------
// r_id -- Requester ID
// req_id -- Request ID
// viewer - 'admin' shows all volunteers, other values disallow selecting producer. 
// rcallback  = null or a function pointer 
// -------------------------------------------------------------------------------------------------
function editItemDetails(r_id, req_id, viewer, rcallback ) { 
  // First get all the persons you can assign to, the types of items. and the status each item can take. 
  // then create the farging drop down lists and 
  // then show the actual dialog. 
  document.getElementById("query-results").setAttribute('json_request_index',req_id)
  document.getElementById("query-results").setAttribute('json_requester_id',r_id)
  document.getElementById('query-results').setAttribute('rcallback', rcallback)

  console.log( "Details --> " , rcallback , document.getElementById('query-results').getAttribute('rcallback'))
  var url = "{% url 'apis:getItemsForDialogBoxes' r_id=0 %}".replace('0',req_id );

      readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          console.log(data);
          // Now create the drop down lists for three UI elements. 
          var requestObject = document.getElementById('requestModal')
          selectItem  = requestObject.querySelector('#modalReq_assigned_to')
          removeOptions(selectItem)
              // Producers who can be assigned a request. 
          for (var x=0;x<data.producers.length; x++ ) {
                  item = data.producers[x]
                  var xstr = `${item.person_firstname} ${item.person_lastname}`
                  var vstr = `${item.person_id}`
                  option = new Option(xstr,vstr); 
                  selectItem.append(option);
              }

          var hidethem = requestModal.querySelectorAll('.modal-admin-only')
          if (viewer == 'admin') {
           
            requestModal.querySelector('#modalReq_requester').readOnly    = false;    
            hidethem.forEach(useritem => {
              useritem.hidden = true;
            });

          } else { 
            hidethem.forEach(useritem => {
              useritem.hidden = true;
            });
            requestModal.querySelector('#modalReq_requester').readOnly    = true;    
            
          }
          // Producers who can be assigned a request. 
          // for (var x=0;x<data.producers.length; x++ ) {
          //   item = data.producers[x]
          //   var xstr = `${item.person_firstname} ${item.person_lastname}`
          //   var vstr = `${item.person_id}`
          //   option = new Option(xstr,vstr); 
          //   selectItem.append(option);
          // }
          selectItem  = requestObject.querySelector('#modalReq_item_type')
          removeOptions(selectItem)
          // Types of items from data base
          for (var x=0;x<data.itype.length; x++ ) {
            item = data.itype[x]
            var xstr = `${item.itm_Type} `
            var vstr = `${item.itm_id}`
            option = new Option(xstr,vstr);
            selectItem.append(option);
          }
          selectItem  = requestObject.querySelector('#modalReq_status')
          removeOptions(selectItem)
          // States of each request 
          for (var x=0;x<data.status.length; x++ ) {
            item = data.status[x]
            var xstr = `${item.itm_Status} `
            var vstr = `${item.itm_id}`
            option = new Option(xstr,vstr);
            selectItem.append(option);
          }
          // TODO: 
          // I should set up an object baseed on the person requesting 
          // and the item information as well. 
          var req_id = document.getElementById("query-results").getAttribute('json_request_index')
          var p_id   = document.getElementById("query-results").getAttribute('json_requester_id')
          // You CANNOT go by the index alone -- you have to match it. 
          if (req_id >= 0) {
            item = data.request
            console.log(item)
            requestModal.querySelector('#modalReq_req_id').value       = item.req_id; 
            requestModal.querySelector('#modalReq_requester').value    = item.req_requester_id;
            requestModal.querySelector('#modalReq_status').value      = item.req_status           
            requestModal.querySelector('#modalReq_item_type').value    = item.req_item_type; 
            requestModal.querySelector('#modalReq_assigned_to').value  = item.req_assigned_to; 
            requestModal.querySelector('#modalReq_quantity').value     = item.req_quantity; 
            requestModal.querySelector('#modalReq_title').value        = item.req_title; 
            requestModal.querySelector('#modalReq_description').value  = item.req_description; 
            requestModal.querySelector('#modalReq_notes').value  = item.req_notes; 
            requestModal.querySelector('#modalReq_time_taken').value     = item.req_time_taken; 
            requestModal.querySelector('#modalReq_neededbydate').value = item.req_neededbydate; 
            requestModal.querySelector('#modalReq_filledbydate').value = item.req_filledbydate;
          } else { 
            requestModal.querySelector('#modalReq_req_id').value       = ''; 
            requestModal.querySelector('#modalReq_requester').value    = p_id; 
          }
          $('#requestModal').modal('show');
        }
      })
}




// Shows a perosn whose id is shown. 
function showModalPerson(typeOfPerson, existing) {

    var personModal = document.getElementById('personModal')
    var modalTitle = personModal.querySelector('.modal-title')
    var modalBodyInput = personModal.querySelector('#modalPerson_person_id')
    var url;
    var person = existing; 

        if (existing == null) {
          url = "{% url 'r2p:personsList' %}";
          //personModal.querySelector('#modalPerson_person_id').setAttribute('readonly', false)
          // This is a dummy object. 
          person = {
                "person_id": '' ,
                "person_title": null,
                "person_type": typeOfPerson,
                "person_djangoid": null,
                "person_firstname": 'First', 
                "person_middlename": null,
                "person_lastname": "Last",
                "person_suffix": null,
                "person_address1": "",
                "person_address2": null,
                "person_city": personModal.querySelector('#modalPerson_city').value,
                "person_state":personModal.querySelector('#modalPerson_state').value ,
                "person_zip": personModal.querySelector('#modalPerson_zip').value ,
                "person_origincountry": null,
                "person_homephone": "12145551212",
                "person_workphone": null,
                "person_cellphone": "12145551212",
                "person_email": "abcd@def.com",
                "person_workemail": null,
                "person_gender": "1",
                "person_dob": null
          
              }

        } else { 

          url = "{% url 'r2p:personsDetail' pk=22 %}".replace('22',existing.person_id); 
          // personModal.querySelector('#modalPerson_person_id').setAttribute('readonly', true)
          // This is an existing object. DO A FIELD BY FIELD TO SEE IF THE OBJECT MATCHES? 
          person = existing; 
          typeOfPerson = person.person_type; 
        }
          

      modalTitle.textContent = 'Edit ' + typeOfPerson
      personModal.setAttribute('typeOfPerson', typeOfPerson)
      personModal.querySelector('#modalPerson_person_id').value = person.person_id; 
      personModal.querySelector('#modalPerson_firstname').value = person.person_firstname; 
      personModal.querySelector('#modalPerson_lastname').value = person.person_lastname; 
      personModal.querySelector('#modalPerson_address1').value = person.person_address1; 
      personModal.querySelector('#modalPerson_city').value = person.person_city; 
      personModal.querySelector('#modalPerson_state').value = person.person_state; 
      personModal.querySelector('#modalPerson_zip').value = person.person_zip; 
      personModal.querySelector('#modalPerson_homephone').value = person.person_homephone; 
      personModal.querySelector('#modalPerson_cellphone').value = person.person_cellphone; 
      personModal.querySelector('#modalPerson_email').value = person.person_email; 
      console.log("Send to ", url)
      personModal.setAttribute('urlToUse', url)
      $('#personModal').modal('show');

}


$(function(){
    $(".dropdown-toggle").dropdown();
    $('#modalReq_neededbydate').datepicker({  dateFormat: 'yy-mm-dd'}); 
    $('#modalReq_filledbydate').datepicker({  dateFormat: 'yy-mm-dd'}); 
    $.getScript('{% static "src/actions.js" %}', function() {
       //
       console.log("loaded ...")
      });

    makeSelectOptions('PRODUCER',"modalReq_assigned_to");
    document.getElementById('query-results').setAttribute('refreshItems', false)
    document.getElementById('query-results').setAttribute('goToAfterSend', '');


    // --------------------------------------------------------------------------
    //                    Method to capture input for request modal dialog. 
    // --------------------------------------------------------------------------
    var requestModal = document.getElementById('requestModal')


  });

</script>

</body>
</html>