<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="{% static 'imgs/favicon.png' %}" rel="shortcut icon">
     <!-- Bootstrap CSS -->
 
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="{% static 'css/override.css' %}" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}">      
        
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        {% block style %}
        {% endblock style %}


        <script>
          var global_personID = '{{ Person.person_id }}';
          var global_apiAllItems =  '{% url "apis:allItems"  %}';
          var global_personsList = '{% url "r2p:personsList"  %}';
          var global_personDetail = "{% url 'r2p:personsDetail' pk=22 %}";
          var global_getAllRequestsByAssignee  = "{% url 'apis:getAllRequestsByAssignee' r_id=61 avail=1 %}";
          var global_allPeopleByType = '{% url "apis:allPeopleByType" ptype="REQUESTER" %}';
          var global_requiredItemDetail = "{% url 'r2p:requiredItemDetail' pk=22  %}";
          var global_cancelRequest = "{% url 'r2p:cancelRequest' r_id=22  %}";
          var global_onePersonCheckIcon = "{% static './icons/person-check.svg' %}";
          var global_assignRequest = "{% url 'apis:assignRequest' r_id=0 p_id=1 %}";
          var global_unassignRequest = "{% url 'apis:unassignRequest' r_id=0 %}";
          var global_requiredItemList = "{% url 'r2p:requiredItemList' %}" 
          var global_getAllRequestsByRequester = '{% url "apis:getAllRequestsByRequester" r_id=61 %}';
          var global_createOnboardRequests = '{% url "apis:createOnboardRequests" r_id=61 %}';
          var global_getItemsForDialogBoxes = "{% url 'apis:getItemsForDialogBoxes' r_id=0 %}";
        </script> 

<title>Dispatcher Manager</title>
</head>



<body>
{% csrf_token %}
<nav class="navbar navbar-dark blue-background navbar-expand-md navigation-clean-search">
  <div class="container">
    <a id="home-button" class="refresh-link confirm-delete button btn-small yellow popup-map"
        href="#')"> HOME</a>
      <a class="button btn-small yellow popup-map" href="javascript:" 
        onclick="detailsForPerson({{Person.person_id }},'requester');">Edit Profile: {{ user.get_username }}</a>
    
        <a class="button btn-small yellow popup-map" href="{% url 'password_change' %}">Change Password </a>
     
     <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}


                {% if user.is_staff %}


                {% endif  %}
              </li> 
              <a class="button btn-small yellow" href="{% url 'logout' %}"> Log Out</a>
              {% else %}
              <a class="button btn-small yellow" href="{% url 'login' %}">Log In</a> 
              : 
              <!-- <a href="{% url 'signup' %}">Sign up </a>- OR -  -->
              <a class="button btn-small yellow" href="{% url 'signmeup' %}">Sign Up</a>
              
              {% endif %}

                <!-- <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Dropdown button
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("REQUESTER")'>JS-Requesters</a</li>
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("PRODUCER")'>Volunteers></a></li>
                    <li><a class="dropdown-item"  href="javascript:" onclick='getAllPeople("DONOR")'>JS-DONOR</a></li>
                  </ul>
                </div> -->


                
            </ul>
        </div>
  </div>
</nav>



    <div class="container-fluid">
      <div class="row  justify-content-center">
        <div class="row md-8">
          <div class="col-1">


          </div>
          
          <div class="col-8">
            <h1 id="pageHeader" class="mt-2 text-center">{{ PageHeader }}</h1>
            {% if user.is_staff %}
              <a class="button btn-small yellow popup-map" href='javascript:getAllItems("REQUESTER")'>All Requests</a>
              <a class="button btn-small yellow popup-map" href='javascript:getAllPeople("REQUESTER")'>Requesters</a>
              <!-- <a class="button btn-small yellow popup-map" href="javascript:" onclick='getAllPeople("DONOR")'>Donors</a> -->
              <a class="button btn-small yellow popup-map" href='javascript:getAllPeople("PRODUCER")'>Volunteers</a>
              <a class="button btn-small yellow popup-map" href='javascript:showMyAssignments("details","details-title")'>My Assignments</a>
              <a class="button btn-small yellow popup-map" href="javascript:editItemForRefugee('{{ Person.person_id }} ',-1)">ADD NEW REQUEST</a>
         
                  <a class="button btn-small yellow dropdown dropdown-toggle nav-link" aria-expanded="false" 
                    data-bs-target="navbar1" 
                    data-bs-toggle="dropdown">REPORTS</a>
                  <ul class="dropdown-menu" id="navbar1">
                    <li><a class="dropdown-item" href="javascript:" onclick='getAllItems("REQUESTER")'>All Requests</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='reportPersons("REQUESTER")'>Report Requesters</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='reportPersons("PRODUCER")'>Report Volunteers</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='showModalPerson("REQUESTER")'>Add REQUESTER</a></li>
                    <li><a class="dropdown-item" href="javascript:" onclick='showModalPerson("PRODUCER")'>Add VOLUNTEER</a></li>
                  </ul>
                </a>  

            {% endif  %}
            <div id="requester-content-only">
              {% block requester_content %}

              {% endblock requester_content %}
            </div>
            <div id="provider-content-only">
              {% block provider_content %}

              {% endblock provider_content %}
            </div>

            <div id="query-results">
              {% block content %}

              {% endblock content %}
            </div>
          </div>

          <div class="col-3">
            <div id="details-title"> </div> 
        
            <div  class="col-12" id="details"> </div> 
          </div>

        </div>

        <div class="row md-8">

          <div class="col-1">


          </div>
        
          <div class="col-8" id="available-task-block" >
            <div id="available-details-title"> </div> 
            <div id="available-task-list" ></div>
          </div>


          <div class="col-3">


          </div>
        </div>
      </div>
    </div>
	


  <div class="container">
    <div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="personModalLabel">Profile Details</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="controlgroup-modal">
              <ul class="nobullets"> 
                <li><label  class="right-aligned-label" for="modalPerson_person_id">ID </label><input id="modalPerson_person_id" readonly type="text"  name="modalPerson_person_id"></li>
                <li><label  class="right-aligned-label" for="modalPerson_firstname">First </label><input id="modalPerson_firstname"  type="text"  name="modalPerson_firstname"></li>
                <li><label  class="right-aligned-label" for="modalPerson_middlename">Middle </label><input id="modalPerson_middlename" type="text"  name="modalPerson_middlename"></li>
                <li><label  class="right-aligned-label" for="modalPerson_lastname">Last </label><input id="modalPerson_lastname"   type="text"  name="modalPerson_lastname"></li>
                <li><label  class="right-aligned-label" for="modalPerson_address1">Address </label><input id="modalPerson_address1"   type="text"  name="modalPerson_address1"></li>
                <li><label  class="right-aligned-label" for="modalPerson_city">City </label><input id="modalPerson_city"  type="text"  name="modalPerson_city"></li>
                <li><label  class="right-aligned-label" for="modalPerson_state">State </label><input id="modalPerson_state"  type="text"  name="modalPerson_state"></li>
                <li><label  class="right-aligned-label" for="modalPerson_zip">Zip </label><input id="modalPerson_zip"  type="text"  name="modalPerson_zip"></li>
                <li><label  class="right-aligned-label" for="modalPerson_homephone">Home Phone </label><input id="modalPerson_homephone"  type="text"  name="modalPerson_homephone"></li>
                <li><label  class="right-aligned-label" for="modalPerson_cellphone">Cell Phone </label><input id="modalPerson_cellphone"  type="text"  name="modalPerson_cellphone"></li>
                <li><label  class="right-aligned-label" for="modalPerson_email">Email </label><input id="modalPerson_email"  type="text"  name="modalPerson_email"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
           
            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="saveModalPerson(refreshPersonCallback)"> Save changes </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestModalLabel">Request Details</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             
              <ul class="nobullets"> 
                <li><label  class="right-aligned-label modal-admin-only" for="modalReq_req_id">ID </label>
                  <input class="modal-admin-only" id="modalReq_req_id" readonly type="number"  name="modalReq_req_id"></li>
                <li><label  class="right-aligned-label modal-admin-only" for="modalReq_requester">Requester ID</label>
                  <input class="modal-admin-only" id="modalReq_requester" type="text"  name="modalReq_requester"></li>
                <li><label  class="right-aligned-label" for="modalReq_item_type">Type </label>
                  <select id="modalReq_item_type" type="number"  name="modalReq_item_type">
                  </select>

                  </li>
                <li><label  class="right-aligned-label" for="modalReq_status">Status </label>
                  <select id="modalReq_status"   type="number"  name="modalReq_status">
                      <option value="0">Open </option>
                      <option value="1">Initiated </option>
                      <option value="2">Approved </option>
                      <option value="3">Rejected </option>
                      <option value="4">Cancelled </option>
                      <option value="5">Assigned </option>
                      <option value="6">Progressing </option>
                      <option value="7">Completed </option>
                      <option value="8">Closed </option>

                    </select>
                  </li>
                <li><label  class="right-aligned-label modal-admin-only" for="modalReq_assigned_to">Assigned ID </label>
                  
                    <select  class="modal-admin-only" id="modalReq_assigned_to"  aria-label="Default select example"  name="modalReq_assigned_to" aria-hidden="true"> 
                    </select>
                          
                </li>
                <li><label  class="right-aligned-label" for="modalReq_quantity">Quantity </label><input id="modalReq_quantity"  type="number"  name="modalReq_quantity"></li>
                <li><label  class="right-aligned-label" for="modalReq_title">Title </label><input id="modalReq_title"  type="text"  name="modalReq_title"></li>
                <li><label  class="right-aligned-label" for="modalReq_description">Description </label>
                  <input id="modalReq_description"  type="text"  name="modalReq_description"></li>
                <li><label  class="right-aligned-label" for="modalReq_notes">Notes </label>
                    <textarea rows="4" cols="25" id="modalReq_notes"   name="modalReq_notes"> </textarea></li>
    


                <li><label  class="right-aligned-label" for="modalReq_time_taken">Time (Hrs)</label>
                  
                  
                  <input id="modalReq_time_taken"  type="number" min="0" onkeyup="numOnly(this)" onblur="numOnly(this)" name="modalReq_time_taken"></li>
                <li><label  class="right-aligned-label" for="modalReq_neededbydate">Needed By Date</label><input id="modalReq_neededbydate"  type="text"  name="modalReq_neededbydate"></li>
                <li><label  class="right-aligned-label" for="modalReq_filledbydate">Filled By Date </label><input id="modalReq_filledbydate"  type="text"  name="modalReq_filledbydate"></li>
              </ul>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveModalRequest(refreshRequestModal)"> Save changes </button>
          </div>
        </div>
        
      </div>
    </div>
  </div>


<div class="container">
    <div class="intro">
        <hr> 
       
    </div>
    <div class="row articles">
        <div class="col-sm-6 col-md-4 item" id="">
        </div>
        
        <!-- {% if user.is_authenticated %}
        <a href="{% url 'password_change' %}">Change Password </a>
        <a href="{% url 'logout' %}">Log Out</a>
        {% endif %} -->
        <!-- <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static 'imgs/delivery.png' %}"  /></a>
            <h3 class="name">Track completions</h3>
            <p class="description">Monitor the status of each task as it progresses to completion. </p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
        <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="{% static 'imgs/tracking.png' %}"  /></a>
            <h3 class="name">Report donations</h3>
            <p class="description">Record which refugee got how many donations.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
        </div> -->
    </div>
</div>


</body>

<!-- <script>
    const csrftoken =  document.querySelector('[name=csrfmiddlewaretoken]').value;
      alert(csrftoken);
    
</script>  -->

{% block myscript %}
{% endblock myscript %}



<script>

 
    $(function(){

      $(".dropdown-toggle").dropdown();
      $('#modalReq_neededbydate').datepicker({  dateFormat: 'yy-mm-dd'}); 
      $('#modalReq_filledbydate').datepicker({  dateFormat: 'yy-mm-dd'}); 
      $( ".controlgroup-modal" ).controlgroup({
            "direction": "vertical"
          });
      $.getScript('{% static "src/actions.js" %}', function() {
         //
         console.log("loaded ..actions.")
        });
        $.getScript('{% static "src/app_js.js" %}', function() {
         //
         console.log("loaded ..ui functions.")
        }); 
      makeSelectOptions('PRODUCER',"modalReq_assigned_to");
      document.getElementById('query-results').setAttribute('refreshItems', false)
      document.getElementById('query-results').setAttribute('goToAfterSend', '');
  
      // --------------------------------------------------------------------------
      //                    Method to capture input for request modal dialog. 
      // --------------------------------------------------------------------------
      var requestModal = document.getElementById('requestModal') 
    });
  



</script>
<script src='{% static "src/actions.js" %}' ></script>
<script src='{% static "src/app_js.js" %}' ></script>

</body>
</html>