{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}
 <h2> Assigned to {{ AssigneeName }} </h2>
 <div id="itemTableOfRequests"></div> 
   




{% else %}
    <p>You are not logged in           {{ user.get_username }} </p>
    <a href="{% url 'login' %}">Log In</a> 
    : <a href="{% url 'signmeup' %}">Sign Me Up 2</a>
{% endif %}

    

{%  endblock content %}

{% block myscript %}
<script>



window.onload = function() { 
    console.log("loadiong ....")
    var pid = '{{ Person.person_id }}';
    var url = "{% url 'apis:getAllRequestsByAssignee' r_id=22 avail=1 %}".replace('22',pid); 
    console.log(url) ; 
    showMyAssignments("available-task-list", "available-details-title"); 
}



function showAssignedItemsTable(rdata, pid, divname, divavailable) { 
    var pid = '{{ Person.person_id }}'; 
    showMyAssignments("available-task-list", "available-details-title"); 
    }


function showAvailableTasks() {
  var x = document.getElementById("available-task-list");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

// p_id is the requester ! 
function editItemForAssignee(requester_id,r_id){
    var pid = '{{ Person.person_id }}'; 
     // The callback function will need the following information : 
    document.getElementById('#query-results').setAttribute('refresh_rid_after_edit', r_id);  
    document.getElementById('#query-results').setAttribute('refresh_requester_id_after_edit', requester_id); // 
    document.getElementById('#query-results').setAttribute('refresh_producer_id_after_edit', pid); // 
    document.getElementById('#query-results').setAttribute('refresh-after-modal-edit', 'refreshThisAssignmentPage');
    editItemDetails(requester_id,r_id,'','refreshThisAssignmentPage')
 }


//===============================================




</script>


{% endblock myscript %}
