{% extends "base.html" %}



{% if user.is_authenticated %}
    <p>  {{ RefugeeName }} </p>
    <br>
    <a class="button btn-small yellow popup-map" href="javascript:refreshThisPage('{{ Person.person_id }}')"> REFRESH</a> 
    <a class="button btn-small yellow popup-map" href="javascript:editItemForRefugee('{{ Person.person_id }} ',-1)">MAKE NEW REQUEST</a> 
      <!-- <a class="button btn-small yellow popup-map" href="javascript:editItemForRefugee('{{ Person.person_id }}', -1)">CREATE NEW </a> -->
{% else %}
    <p>You are not logged in           {{ user.get_username }} </p>
    <a href="{% url 'login' %}">Log In</a> 
    : <a href="{% url 'signmeup' %}">Sign Me Up 2</a>
{% endif %}

{% block content %}





{%  endblock content %}
{% block requester_content %}
<h3> {{ RefugeeName }} </h3>
<a class="button btn-small yellow popup-map" href="javascript:refreshThisPage('{{ Person.person_id }}')"> REFRESH</a> 
<a class="button btn-small yellow popup-map" href="javascript:editItemForRefugee('{{ Person.person_id }} ',-1)">MAKE NEW REQUEST</a> 
{% endblock requester_content %}

{% block myscript %}
<script>


window.onload = function() { 

  var pid = '{{ Person.person_id }}';
  var url = "{% url 'apis:getAllRequestsByRequester' r_id=22 %}".replace('22',pid); 
  console.log(url) ;
  var pid = '{{ Person.person_id }}';
  refreshLink = "{% url 'r2p:itemsByRequester' p_id=22 %}".replace('22',pid); 
  $('.refresh-link').attr('href',refreshLink)
  
  refreshThisPage(pid);
 
}


function refreshThisPage(pid) {
    var url = '{% url "apis:getAllRequestsByRequester" r_id=61 %}'.replace('61',pid);
    document.getElementById('query-results').setAttribute('refresh_rid_after_edit','refreshItemsForRequesterPage'); 
    document.getElementById('query-results').setAttribute('refresh_requester_id_after_edit', pid); // 
    


    console.log(url) ;
    readJSON(url,function(err, data) {
        if (err != null) {
          console.error(err);
        } else { 
          //console.log(data);
          createItemCards(pid,"query-results",data['data'], 
                {'showUnassign': false, 'showAssign':false, 'showCancel': true, 'showDelete':true, 'refreshCallbackParam' : 'refreshItemsForRequesterPage'});
          //document.getElementById('details-title').innerHTML = '<h4 class="header-title">Available Tasks</h4>'
        }
      })

}

</script>


{% endblock myscript %}
